body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.coord-boxes {
  position: absolute;
  top: 70vh;
}

.message-boxes {
  position: absolute;
  top: 10vh;
}

.view-box {
  height: 100vh;
  display: inline-flex;
}

#message-bar {
  flex-direction: column;
}