body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header-message {
  position: absolute;
  padding: 0;
  top: 10vh;
  right: 5vw;
}

.coord-boxes {
  position: absolute;
  top: 80vh;
}

.message-boxes {
  position: absolute;
  top: 10vh;
  text-align: right;
}

.view-box {
  height: 100vh;
  display: inline-flex;
}

#message-bar {
  flex-direction: column;
  border-right: 1px solid black;
}