//
   Created by hcm on 19.11.2017.
head
    title Aerospace Mission Control
    meta(name="google-site-verification" content="s1RHck0FTb15T7CLPCiTrRskyC_RV6M8YqNkN1VeyQI")
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js' type='text/javascript')
    //script(src='javascripts/socket.io.js' type='text/javascript')
    script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js' type='text/javascript')
    script(src='javascripts/index.js' type='text/javascript')
    link(rel='stylesheet', href='/stylesheets/style.css')

body
    div.tab
        button.tablinks.active(onclick = "openTab(event,'sim-tab')") Simulation
        button.tablinks.active(onclick = "openTab(event,'mission-tab')") Launch
        button.tablinks.active(onclick = "openTab(event,'login-tab')") Cloud Access
    div.tab-content#login-tab
        div#login-div
            form#login-form Type in credentials for cloud access
                div.form-group
                    label Key:
                    input#db-key-box.form-control(type='text', placeholder='' name='db-key-input' value='')
                    button#cloud-login-button(type='button' onclick='dbLogin()') Sign In
    div.tab-content#sim-tab
        div#burst-calc
            form#burst-form Balloon Burst Calculation
                div.form-group
                    label Gas Type
                    input#gasType-box.form-control(type='text', placeholder='Gas Type' name='gas-type' value='')
                    label Launch Volume
                    input#launchVolume-box.form-control(type='text', placeholder='Volume(m^3)' name='volume-input' value='')
                    label Balloon Weight
                    input#balloonWeight-box.form-control(type='text', placeholder='Balloon Weight(g)' name='balloon-weight-input' value='')
                    label Payload Weight
                    input#payloadWeight-box.form-control(type='text', placeholder='Payload Weight' name='payload-weight-input' value='')
    div.tab-content#mission-tab
        div#download-csv-div
            button#save-to-cloud-button(type='button' onclick='saveFlight()') Save Data to Cloud
            br
            button#download-csv-button(type='button' onclick='downloadCsv()') Download Flight Data
            br
            form#upload-csv-form(action='/upload' target='_blank' enctype='multipart/form-data' method='post') Upload Data for Analysis
                br
                input(type='file' name='upload' multiple='multiple')
                br
                input(type='submit' value = 'Upload')
        div.header-message
            h1 Hello Hal!
            p Today is #{date}.
        div.left-bar
            div.left-upper-row
                div.view-box#message-bar
                    div.message-boxes
                        form#message-form(method='POST' action='/send_message')
                            div.form-group
                                label(for='username')
                                input#username-box.form-control(type='text', placeholder='Username' name='username' value='')
                            div.form-group
                                label(for='password')
                                input#password-box.form-control(type='text', placeholder='Password' name='password' value='')
                            div.form-group
                                label(for='imei')
                                input#imei-box.form-control(type='text', placeholder='IMEI' name='imei' value='')
                            div.form-group
                                label(for='message')
                                input#msg-box.form-control(type='text', placeholder='Message' name='msg' value='')
                            button#send-message-button.btn.btn-primary(type='button' onclick='sendToServer()') Submit

                    div.coord-boxes
                        form#coord-form(method='POST' action='/')
                            strong Last known coordinates:
                            div.form-group
                                br
                                label(for='longitude') Longitude:
                                input#longitude-box.form-control(type='text', placeholder='0.0' name='longitude' value='')
                            div.form-group
                                label(for='latitude') Latitude:
                                input#latitude-box.form-control(type='text', placeholder='0.0' name='latitude' value='')
                            div.form-group
                                label(for='accurracy') Accuracy:
                                input#accuracy-box.form-control(type='text', placeholder='0.0' name='accuracy' value='')
            div.left-lower-row
                div#inbox-box
                    div.inbox-element
                        div.time-row
                            span Timestamp
                        div.data-row
                            span Data
                        div.lat-row
                            span Latitude
                        div.lon-row
                            span Longitude
        script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCjvUF_VrecmLOG4q0oczQKnyv_a2L6NqM&callback=initMap')
        div.right-bar
            div.map-box
                div#map
