//
   Created by hcm on 19.11.2017.
head
    title Aerospace Mission Control
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js' type='text/javascript')
    script(src='javascripts/index.js' type='text/javascript')
    link(rel='stylesheet', href='/stylesheets/style.css')

body
    h1 Hello Hal!
    p Today is #{date}.

    form#message-form(method ='POST' action='/send_message')
        div.form-group
            label(for='username') Username:
            input#username-box.form-control(type='text', placeholder='Username here' name='username' value='')
        div.form-group
            label(for='password') Password:
            input#password-box.form-control(type='text', placeholder='Password here' name='password' value='')
        div.form-group
            label(for='imei') IMEI:
            input#imei-box.form-control(type='text', placeholder='IMEI here' name='imei' value='')
        div.form-group
            label(for='message') Message:
            input#msg-box.form-control(type='text', placeholder='Message here' name='msg' value='')
        button#send-message-button.btn.btn-primary(type='button' onclick='sendToServer()') Submit